<a href="https://colab.research.google.com/github/sairamsankranthi13-a11y/pandas-Data-Frames/blob/main/Pabdas_dataframe_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving sales1.csv to sales1.csv

In [ ]:
#accessing a single column from the dataframe
import pandas as pd
df=pd.read_csv("sales1.csv")
d=df["Quantity"]
print(d)

0      2
1      3
2      1
3      3
4      2
      ..
595    1
596    1
597    1
598    2
599    1
Name: Quantity, Length: 600, dtype: int64

In [ ]:
import pandas as pd
df=pd.read_csv("sales1.csv")
print(df["Product"])

0      34in Ultrawide Monitor
1                 Samsung m10
2                20in Monitor
3                   iPhone 11
4          Macbook Pro Laptop
                ...
595        Macbook Pro Laptop
596           ThinkPad Laptop
597             Flatscreen TV
598               Samsung m20
599        LG Washing Machine
Name: Product, Length: 600, dtype: object

In [ ]:
#reaaringing columns in daatframe
import pandas as pd
df=pd.read_csv("sales1.csv")
d=df[["Product","Quantity"]]
print(d)

                    Product  Quantity
0    34in Ultrawide Monitor         2
1               Samsung m10         3
2              20in Monitor         1
3                 iPhone 11         3
4        Macbook Pro Laptop         2
..                      ...       ...
595      Macbook Pro Laptop         1
596         ThinkPad Laptop         1
597           Flatscreen TV         1
598             Samsung m20         2
599      LG Washing Machine         1

[600 rows x 2 columns]

In [ ]:
import pandas as pd
df=pd.read_csv("sales1.csv")
print(df.head())
print()
print(df.columns)

   Order ID Customer Name                 Product  Quantity
0    166837         Veeru  34in Ultrawide Monitor         2
1    166838         Tarun             Samsung m10         3
2    166839         Kedar            20in Monitor         1
3    166840       Lavanya               iPhone 11         3
4    166841          Venu      Macbook Pro Laptop         2

Index(['Order ID', 'Customer Name', 'Product', 'Quantity'], dtype='object')

In [ ]:
#renaming single column in dataframe
import pandas as pd
df=pd.read_csv("sales1.csv")
d={
    "Product":"products"
}
df2=df.rename(columns=d)
print(df2)

     Order ID Customer Name                products  Quantity
0      166837         Veeru  34in Ultrawide Monitor         2
1      166838         Tarun             Samsung m10         3
2      166839         Kedar            20in Monitor         1
3      166840       Lavanya               iPhone 11         3
4      166841          Venu      Macbook Pro Laptop         2
..        ...           ...                     ...       ...
595    167403        Balaji      Macbook Pro Laptop         1
596    167404       Lavanya         ThinkPad Laptop         1
597    167405          Venu           Flatscreen TV         1
598    167406        Siddhu             Samsung m20         2
599    167407         Tarun      LG Washing Machine         1

[600 rows x 4 columns]

In [ ]:
#renaming multiple column in dataframe
import pandas as pd
df1=pd.read_csv("sales1.csv")
d={
    "order":"orders",
    "Product":"products",
    "Quantity":"quantities"
}
df2=df1.rename(columns=d)
print(df2)

     Order ID Customer Name                products  quantities
0      166837         Veeru  34in Ultrawide Monitor           2
1      166838         Tarun             Samsung m10           3
2      166839         Kedar            20in Monitor           1
3      166840       Lavanya               iPhone 11           3
4      166841          Venu      Macbook Pro Laptop           2
..        ...           ...                     ...         ...
595    167403        Balaji      Macbook Pro Laptop           1
596    167404       Lavanya         ThinkPad Laptop           1
597    167405          Venu           Flatscreen TV           1
598    167406        Siddhu             Samsung m20           2
599    167407         Tarun      LG Washing Machine           1

[600 rows x 4 columns]

In [ ]:
#renaming(p) method-chnaging index in dataframe
import pandas as pd
df=pd.read_csv("sales1.csv")
d={
    "order_id":[1,2,3],
    "customer_name":["sai","ram","prasad"],
    "product":["laptop","mobile","tv"]
}
df1=pd.DataFrame(d)
print(df1)

   order_id customer_name product
0         1           sai  laptop
1         2           ram  mobile
2         3        prasad      tv

In [ ]:
import pandas as pd
df=pd.read_csv("sales1.csv")
d={
  "order_id":[0,1,2],
  "customer_name":["prasad","daniel","jeswanth"],
  "product":["laptop","mobile","tv"]
}
i={0:33,1:43,2:56}
df=pd.DataFrame(d)
df2=df.rename(index=i)
print(df2)

    order_id customer_name product
33         0        prasad  laptop
43         1        daniel  mobile
56         2      jeswanth      tv

In [ ]:
#columns attribute--changing multiple column names
import pandas as pd
df1=pd.read_csv("sales1.csv")
print(df1.head())

df1.columns=[
    "order_id",
    "customer_name",
    "product",
    "quantity"
]
print()
print(df1.head())

   Order ID Customer Name                 Product  Quantity
0    166837         Veeru  34in Ultrawide Monitor         2
1    166838         Tarun             Samsung m10         3
2    166839         Kedar            20in Monitor         1
3    166840       Lavanya               iPhone 11         3
4    166841          Venu      Macbook Pro Laptop         2

   order_id customer_name                 product  quantity
0    166837         Veeru  34in Ultrawide Monitor         2
1    166838         Tarun             Samsung m10         3
2    166839         Kedar            20in Monitor         1
3    166840       Lavanya               iPhone 11         3
4    166841          Venu      Macbook Pro Laptop         2

In [ ]:
#rename(p)method- changing index in dataframe
import pandas as pd
d={
    " order_id":[1,2,3],
    "customer_name":["sai","ram","prasad"],
    "product":["laptop","mobile","tv"]
}
df=pd.DataFrame(d)
print(df)

    order_id customer_name product
0          1           sai  laptop
1          2           ram  mobile
2          3        prasad      tv

In [ ]:
import pandas as pd
d={
    "order_id":[1,2,3],
    "customer_name":["sai","ram","prasad"],
    "product":["laptop","mobile","tv"]

}

i={0:23,1:33,2:44}
df1:pd.DataFrame(d)
df2=df1.rename(index=i)
print(df1)
print()
print(df2)

     order_id customer_name                 product  quantity
0      166837         Veeru  34in Ultrawide Monitor         2
1      166838         Tarun             Samsung m10         3
2      166839         Kedar            20in Monitor         1
3      166840       Lavanya               iPhone 11         3
4      166841          Venu      Macbook Pro Laptop         2
..        ...           ...                     ...       ...
595    167403        Balaji      Macbook Pro Laptop         1
596    167404       Lavanya         ThinkPad Laptop         1
597    167405          Venu           Flatscreen TV         1
598    167406        Siddhu             Samsung m20         2
599    167407         Tarun      LG Washing Machine         1

[600 rows x 4 columns]

     order_id customer_name                 product  quantity
23     166837         Veeru  34in Ultrawide Monitor         2
33     166838         Tarun             Samsung m10         3
44     166839         Kedar            20in Monitor         1
3      166840       Lavanya               iPhone 11         3
4      166841          Venu      Macbook Pro Laptop         2
..        ...           ...                     ...       ...
595    167403        Balaji      Macbook Pro Laptop         1
596    167404       Lavanya         ThinkPad Laptop         1
597    167405          Venu           Flatscreen TV         1
598    167406        Siddhu             Samsung m20         2
599    167407         Tarun      LG Washing Machine         1

[600 rows x 4 columns]

In [ ]:
import pandas as pd
d={
    "order_id":[1,2,3],
    "customer_name":["sai","ram","prasad"],
    "product":["laptop","mobile","tv"]

}
df1=pd.DataFrame(d)
print(df1)
df1.index=[23,33,44]
print()
print(df1)

   order_id customer_name product
0         1           sai  laptop
1         2           ram  mobile
2         3        prasad      tv

    order_id customer_name product
23         1           sai  laptop
33         2           ram  mobile
44         3        prasad      tv

In [ ]:
#lower case to upper case
import pandas as pd
df1=pd.read_csv("sales1.csv")

print(df1.head())

df1.columns=df1.columns.str.upper()
print()
print(df1.head())

   Order ID Customer Name                 Product  Quantity
0    166837         Veeru  34in Ultrawide Monitor         2
1    166838         Tarun             Samsung m10         3
2    166839         Kedar            20in Monitor         1
3    166840       Lavanya               iPhone 11         3
4    166841          Venu      Macbook Pro Laptop         2

   ORDER ID CUSTOMER NAME                 PRODUCT  QUANTITY
0    166837         Veeru  34in Ultrawide Monitor         2
1    166838         Tarun             Samsung m10         3
2    166839         Kedar            20in Monitor         1
3    166840       Lavanya               iPhone 11         3
4    166841          Venu      Macbook Pro Laptop         2

In [ ]:
#pandas inplace parameter
#without withouinplace parameter
import pandas as pd
df1=pd.read_csv("sales1.csv")
d={"order_id":"ord id","product_id":"prod id","customer_name":"cust name ","quantity":"quant"}
print(df1.head())
df1.rename(columns=d)
print()
print(df1.head())

   Order ID Customer Name                 Product  Quantity
0    166837         Veeru  34in Ultrawide Monitor         2
1    166838         Tarun             Samsung m10         3
2    166839         Kedar            20in Monitor         1
3    166840       Lavanya               iPhone 11         3
4    166841          Venu      Macbook Pro Laptop         2

   Order ID Customer Name                 Product  Quantity
0    166837         Veeru  34in Ultrawide Monitor         2
1    166838         Tarun             Samsung m10         3
2    166839         Kedar            20in Monitor         1
3    166840       Lavanya               iPhone 11         3
4    166841          Venu      Macbook Pro Laptop         2

In [ ]:
#pandas inplace parameter
#without inplace parameter
import pandas as pd
df1=pd.read_csv("sales1.csv")
d={"order_id":"ord id","product_id":"prod id","customer_name":"cust name ","quantity":"quant"}
print(df1.head())
df1.rename(columns=d,inplace=True)
print()
print(df1.head())

   Order ID Customer Name                 Product  Quantity
0    166837         Veeru  34in Ultrawide Monitor         2
1    166838         Tarun             Samsung m10         3
2    166839         Kedar            20in Monitor         1
3    166840       Lavanya               iPhone 11         3
4    166841          Venu      Macbook Pro Laptop         2

   Order ID Customer Name                 Product  Quantity
0    166837         Veeru  34in Ultrawide Monitor         2
1    166838         Tarun             Samsung m10         3
2    166839         Kedar            20in Monitor         1
3    166840       Lavanya               iPhone 11         3
4    166841          Venu      Macbook Pro Laptop         2

In [ ]:
# pandas inplace parameter
# without inplace parameter

import pandas as pd

# Read CSV file
df1 = pd.read_csv("sales1.csv")

# Dictionary for renaming columns
d = {"order_id": "ord id", "product_id": "prod id", "customer_name": "cust name", "quantity": "quant"}

print("Before renaming:")
print(df1.head())

# Rename columns (note: True must be capitalized)
df1.rename(columns=d, inplace=True)

print("\nAfter renaming:")
print(df1.head())

Before renaming:
   Order ID Customer Name                 Product  Quantity
0    166837         Veeru  34in Ultrawide Monitor         2
1    166838         Tarun             Samsung m10         3
2    166839         Kedar            20in Monitor         1
3    166840       Lavanya               iPhone 11         3
4    166841          Venu      Macbook Pro Laptop         2

After renaming:
   Order ID Customer Name                 Product  Quantity
0    166837         Veeru  34in Ultrawide Monitor         2
1    166838         Tarun             Samsung m10         3
2    166839         Kedar            20in Monitor         1
3    166840       Lavanya               iPhone 11         3
4    166841          Venu      Macbook Pro Laptop         2

In [ ]:
# pandas inplace parameter
# without inplace parameter

import pandas as pd

# Read CSV file
df1 = pd.read_csv("sales1.csv")

# Dictionary for renaming columns
d = {"order_id": "ord id", "product": "prod id", "customer_name": "cust name", "quantity": "quant"}

# Display original column names
print("Before renaming:")
print(df1.head())

# Rename columns (note: True must be capitalized)
df1.rename(columns=d, inplace=True)

print("\nAfter renaming:")
print(df1.head())

Before renaming:
   Order ID Customer Name                 Product  Quantity
0    166837         Veeru  34in Ultrawide Monitor         2
1    166838         Tarun             Samsung m10         3
2    166839         Kedar            20in Monitor         1
3    166840       Lavanya               iPhone 11         3
4    166841          Venu      Macbook Pro Laptop         2

After renaming:
   Order ID Customer Name                 Product  Quantity
0    166837         Veeru  34in Ultrawide Monitor         2
1    166838         Tarun             Samsung m10         3
2    166839         Kedar            20in Monitor         1
3    166840       Lavanya               iPhone 11         3
4    166841          Venu      Macbook Pro Laptop         2