<a href="https://colab.research.google.com/github/sairamsankranthi13-a11y/pandas-Data-Frames/blob/main/Pandas_Data_Frame_Filtering_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import files
uploaded = files.upload()

Saving sales4.csv to sales4.csv

In [3]:
#filtering
import pandas as pd
df=pd.read_csv("sales4.csv")
print(df)

        Order_Id Customer_Name  Customer_Id                Product_Name  \
0           1023         Venki           15            27in FHD Monitor
1           1024    Chaithanya           14                   iPhone 11
2           1025        Shahid           20  Bose SoundSport Headphones
3           1026         Veeru            3        Apple iPad 10.2-inch
4           1027          Venu           23                Google Phone
...          ...           ...          ...                         ...
299995    301018       Karteek            4        Apple iPad 10.2-inch
299996    301019         Veeru            3          Macbook Pro Laptop
299997    301020        Harsha            5          LG Washing Machine
299998    301021    Nireekshan            1                   LG Mobile
299999    301022       Pradhan           17      34in Ultrawide Monitor

        Product_Cost
0              59000
1              69000
2              65999
3              63999
4              63999
...              ...
299995         51999
299996         51999
299997         65000
299998         60000
299999         55000

[300000 rows x 5 columns]

In [12]:
#using relational operator
#filtering single cloumn
import pandas as pd
df=pd.read_csv("sales4.csv")
con=df['Product_Cost'] < 59000
df1=df[con]
print(df1)

        Order_Id Customer_Name  Customer_Id              Product_Name  \
8           1031         Kedar            2              20in Monitor
12          1035         Kedar            2              Google Phone
14          1037    Nireekshan            1  Apple Airpods Headphones
18          1041         Venki           15        Samsung Galaxy S20
22          1045       Lavanya           16                 iPhone 7s
...          ...           ...          ...                       ...
299992    301015    Chaithanya           14    27in 4K Gaming Monitor
299994    301017         Kedar            2           ThinkPad Laptop
299995    301018       Karteek            4      Apple iPad 10.2-inch
299996    301019         Veeru            3        Macbook Pro Laptop
299999    301022       Pradhan           17    34in Ultrawide Monitor

        Product_Cost
8              55999
12             55999
14             55999
18             50000
22             51999
...              ...
299992         55999
299994         55999
299995         51999
299996         51999
299999         55000

[74988 rows x 5 columns]

In [13]:
#filtering multiple column
import pandas as pd
df=pd.read_csv("sales4.csv")
con=df['Product_Cost'] > 59000
con1=df['Product_Cost'] > 69000
df1=df[con&con1]

print(df1)

        Order_Id Customer_Name  Customer_Id            Product_Name  \
11          1034         Tarun           11      Samsung Galaxy S20
13          1036    Chaithanya           14  LG ThinQ Refrigerator
25          1048        Partha            8  Samsung Galaxy S9 Plus
28          1051       Lavanya           16      LG Washing Machine
29          1052        Siddhu           18        27in FHD Monitor
...          ...           ...          ...                     ...
299957    300980     Madhurima            7           Flatscreen TV
299963    300986        Shahid           20  34in Ultrawide Monitor
299964    300987        Harsha            5      Macbook Pro Laptop
299965    300988     Madhurima            7           Flatscreen TV
299973    300996         Vinay           10  Samsung Galaxy S9 Plus

        Product_Cost
11             69999
13             69999
25             75000
28             75000
29             69999
...              ...
299957         69999
299963         75999
299964         75000
299965         75000
299973         75999

[56115 rows x 5 columns]

In [14]:
import pandas as pd
df=pd.read_csv("sales4.csv")
con=df.Product_Name=='Samsung Galaxy S20'
con1=df1.Customer_Name== 'Tarun'
df1=df[con&con1]
print(df1)

        Order_Id Customer_Name  Customer_Id        Product_Name  Product_Cost
11          1034         Tarun           11  Samsung Galaxy S20         69999
2148        3171         Tarun           11  Samsung Galaxy S20         75999
2574        3597         Tarun           11  Samsung Galaxy S20         69999
3982        5005         Tarun           11  Samsung Galaxy S20         69999
6902        7925         Tarun           11  Samsung Galaxy S20         75000
...          ...           ...          ...                 ...           ...
278201    279224         Tarun           11  Samsung Galaxy S20         75999
284910    285933         Tarun           11  Samsung Galaxy S20         75000
286016    287039         Tarun           11  Samsung Galaxy S20         69999
294451    295474         Tarun           11  Samsung Galaxy S20         75000
299392    300415         Tarun           11  Samsung Galaxy S20         75000

[112 rows x 5 columns]

In [15]:
#filtering data frame by using idex location
import pandas as pd
df=pd.read_csv("sales4.csv")
df1=df.iloc[:10,]
print(df1)

   Order_Id Customer_Name  Customer_Id                Product_Name  \
0      1023         Venki           15            27in FHD Monitor
1      1024    Chaithanya           14                   iPhone 11
2      1025        Shahid           20  Bose SoundSport Headphones
3      1026         Veeru            3        Apple iPad 10.2-inch
4      1027          Venu           23                Google Phone
5      1028        Daniel            6      Samsung Galaxy S9 Plus
6      1029          Venu           23                   iPhone 11
7      1030         Shafi           25            27in FHD Monitor
8      1031         Kedar            2                20in Monitor
9      1032       Neelima           19          LG Washing Machine

   Product_Cost
0         59000
1         69000
2         65999
3         63999
4         63999
5         63999
6         61000
7         63000
8         55999
9         63000

In [17]:
import pandas as pd
df=pd.read_csv("sales4.csv")
rows=df.index[0:]
cols=["Product_Name","Customer_Id"]
df1=df.loc[rows,cols]
print(df1)

                      Product_Name  Customer_Id
0                 27in FHD Monitor           15
1                        iPhone 11           14
2       Bose SoundSport Headphones           20
3             Apple iPad 10.2-inch            3
4                     Google Phone           23
...                            ...          ...
299995        Apple iPad 10.2-inch            4
299996          Macbook Pro Laptop            3
299997          LG Washing Machine            5
299998                   LG Mobile            1
299999      34in Ultrawide Monitor           17

[300000 rows x 2 columns]

In [20]:
#selcting multiple values of a column
import pandas as pd
df=pd.read_csv("sales4.csv")
a=df.Product_Name=='LG Washing Machine'
b=df.Customer_Id==1
c=a|b
df1=df[c]
print(df1)

        Order_Id Customer_Name  Customer_Id              Product_Name  \
9           1032       Neelima           19        LG Washing Machine
14          1037    Nireekshan            1  Apple Airpods Headphones
24          1047         Shafi           25        LG Washing Machine
28          1051       Lavanya           16        LG Washing Machine
39          1062         Tarun           11        LG Washing Machine
...          ...           ...          ...                       ...
299936    300959        Partha            8        LG Washing Machine
299937    300960    Nireekshan            1          27in FHD Monitor
299970    300993    Nireekshan            1                  iPhone 8
299997    301020        Harsha            5        LG Washing Machine
299998    301021    Nireekshan            1                 LG Mobile

        Product_Cost
9              63000
14             55999
24             63999
28             75000
39             61000
...              ...
299936         65999
299937         60000
299970         60000
299997         65000
299998         60000

[26278 rows x 5 columns]

In [3]:
#isin()method
import pandas as pd
df=pd.read_csv("sales4.csv")
df1=df[df.Product_Name.isin(['LG Washing Machine'])]
print(df1)

        Order_Id Customer_Name  Customer_Id        Product_Name  Product_Cost
9           1032       Neelima           19  LG Washing Machine         63000
24          1047         Shafi           25  LG Washing Machine         63999
28          1051       Lavanya           16  LG Washing Machine         75000
39          1062         Tarun           11  LG Washing Machine         61000
53          1076         Tarun           11  LG Washing Machine         75999
...          ...           ...          ...                 ...           ...
299895    300918        Shahid           20  LG Washing Machine         55000
299916    300939       Lavanya           16  LG Washing Machine         69999
299920    300943        Partha            8  LG Washing Machine         69999
299936    300959        Partha            8  LG Washing Machine         65999
299997    301020        Harsha            5  LG Washing Machine         65000

[14921 rows x 5 columns]

In [4]:
#unique()function
import pandas as pd
df=pd.read_csv("sales4.csv")
df1=df.Product_Name.unique
print(df1)

<bound method Series.unique of 0                   27in FHD Monitor
1                          iPhone 11
2         Bose SoundSport Headphones
3               Apple iPad 10.2-inch
4                       Google Phone
                     ...
299995          Apple iPad 10.2-inch
299996            Macbook Pro Laptop
299997            LG Washing Machine
299998                     LG Mobile
299999        34in Ultrawide Monitor
Name: Product_Name, Length: 300000, dtype: object>

In [5]:
#select non missing data from dataframe
#notnull method
import pandas as pd
d=[['shahid',21,4000],
   ['sai',22,5000],
   ['sankar',23,34000],
   ['venu',25,6000]
]
df=pd.DataFrame(d,columns=['name','age','salary'])
print(df)

     name  age  salary
0  shahid   21    4000
1     sai   22    5000
2  sankar   23   34000
3    venu   25    6000