<a href="https://colab.research.google.com/github/sairamsankranthi13-a11y/pandas-Data-Frames/blob/main/pandas_handling_missing_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaeded = files.upload()

Saving fruits1.csv to fruits1.csv

In [ ]:
#handling missing values
#read the csv file
import pandas as pd
df=pd.read_csv("fruits1.csv")
print(df)

     Order Id  Apples  Orange  Banana
0       16723     9.0     NaN     6.0
1       16724    12.0    12.0     6.0
2       16725     9.0     NaN     NaN
3       16726    12.0     NaN    24.0
4       16727    30.0     8.0    10.0
..        ...     ...     ...     ...
145     16868    24.0    12.0     6.0
146     16869     8.0     8.0    12.0
147     16870     5.0    30.0    30.0
148     16871    24.0     NaN    10.0
149     16872     5.0    30.0    10.0

[150 rows x 4 columns]

In [ ]:
#is na ()
#is null()
import pandas as pd
df=pd.read_csv("fruits1.csv")
df1=df.isna()
print(df.head())
print()
print(df1.head())

   Order Id  Apples  Orange  Banana
0     16723     9.0     NaN     6.0
1     16724    12.0    12.0     6.0
2     16725     9.0     NaN     NaN
3     16726    12.0     NaN    24.0
4     16727    30.0     8.0    10.0

   Order Id  Apples  Orange  Banana
0     False   False    True   False
1     False   False   False   False
2     False   False    True    True
3     False   False    True   False
4     False   False   False   False

In [ ]:
#not null
import pandas as pd
df=pd.read_csv("fruits1.csv")
df1=df.notnull()
print(df.head())
print()
print(df1.head())

   Order Id  Apples  Orange  Banana
0     16723     9.0     NaN     6.0
1     16724    12.0    12.0     6.0
2     16725     9.0     NaN     NaN
3     16726    12.0     NaN    24.0
4     16727    30.0     8.0    10.0

   Order Id  Apples  Orange  Banana
0      True    True   False    True
1      True    True    True    True
2      True    True   False   False
3      True    True   False    True
4      True    True    True    True

In [ ]:
#counting NaN values
import pandas as pd
df=pd.read_csv('fruits1.csv')
s=df.isna().sum()
print(s)

Order Id     0
Apples      16
Orange      16
Banana      21
dtype: int64

In [ ]:
#counting each value in each column with percentage
import pandas as pd
df=pd.read_csv('fruits1.csv')
s=df.isna().sum()
per=(s*100)/len(df1)
print(per)

Order Id     0.000000
Apples      10.666667
Orange      10.666667
Banana      14.000000
dtype: float64

In [ ]:
#dropna()
import pandas as pd
df=pd.read_csv('fruits1.csv')
df1=df.dropna()
print(df1)

     Order Id  Apples  Orange  Banana
1       16724    12.0    12.0     6.0
4       16727    30.0     8.0    10.0
5       16728     6.0     6.0    12.0
6       16729    12.0    24.0     9.0
7       16730    24.0     6.0     8.0
..        ...     ...     ...     ...
143     16866    12.0    10.0    10.0
145     16868    24.0    12.0     6.0
146     16869     8.0     8.0    12.0
147     16870     5.0    30.0    30.0
149     16872     5.0    30.0    10.0

[105 rows x 4 columns]

In [ ]:
import pandas as pd
df=pd.read_csv('fruits1.csv')
df1=df.dropna()
s=df1.isna().sum()
print(s)

Order Id    0
Apples      0
Orange      0
Banana      0
dtype: int64

In [ ]:
#changing data type
import pandas as pd
df=pd.read_csv('fruits1.csv')
df1=df.dropna()
df2=df1.astype(int)
print(df1.head())
print()
print(df2.head())

   Order Id  Apples  Orange  Banana
1     16724    12.0    12.0     6.0
4     16727    30.0     8.0    10.0
5     16728     6.0     6.0    12.0
6     16729    12.0    24.0     9.0
7     16730    24.0     6.0     8.0

   Order Id  Apples  Orange  Banana
1     16724      12      12       6
4     16727      30       8      10
5     16728       6       6      12
6     16729      12      24       9
7     16730      24       6       8

In [ ]:
#filling NaN values
import pandas as pd
df=pd.read_csv('fruits1.csv')
df1=df.fillna(0)
print(df.head())
print()
print(df1.head())

   Order Id  Apples  Orange  Banana
0     16723     9.0     NaN     6.0
1     16724    12.0    12.0     6.0
2     16725     9.0     NaN     NaN
3     16726    12.0     NaN    24.0
4     16727    30.0     8.0    10.0

   Order Id  Apples  Orange  Banana
0     16723     9.0     0.0     6.0
1     16724    12.0    12.0     6.0
2     16725     9.0     0.0     0.0
3     16726    12.0     0.0    24.0
4     16727    30.0     8.0    10.0

In [ ]:
#fill na values
import pandas as pd
import numpy as np
data=[["sai",23,40000],
["ram",24,50000],
["prasad",25,55000],
["mahi",np.nan,90000],
["nandhu",np.nan,566660]]
df=pd.DataFrame(data,columns=["name","age","salary"])
df1=df.fillna(21)
print(df)
print()
print(df1)

     name   age  salary
0     sai  23.0   40000
1     ram  24.0   50000
2  prasad  25.0   55000
3    mahi   NaN   90000
4  nandhu   NaN  566660

     name   age  salary
0     sai  23.0   40000
1     ram  24.0   50000
2  prasad  25.0   55000
3    mahi  21.0   90000
4  nandhu  21.0  566660

In [2]:
#dropna (inpalce =True)
import pandas as pd
df=pd.read_csv('fruits1.csv')
df.dropna(inplace=True)
print(df)

     Order Id  Apples  Orange  Banana
1       16724    12.0    12.0     6.0
4       16727    30.0     8.0    10.0
5       16728     6.0     6.0    12.0
6       16729    12.0    24.0     9.0
7       16730    24.0     6.0     8.0
..        ...     ...     ...     ...
143     16866    12.0    10.0    10.0
145     16868    24.0    12.0     6.0
146     16869     8.0     8.0    12.0
147     16870     5.0    30.0    30.0
149     16872     5.0    30.0    10.0

[105 rows x 4 columns]

In [3]:
#fill null values
import pandas as pd
df=pd.read_csv("fruits1.csv")
df1=df.fillna(0)
print(df.head())
print()
print(df1.head())

   Order Id  Apples  Orange  Banana
0     16723     9.0     NaN     6.0
1     16724    12.0    12.0     6.0
2     16725     9.0     NaN     NaN
3     16726    12.0     NaN    24.0
4     16727    30.0     8.0    10.0

   Order Id  Apples  Orange  Banana
0     16723     9.0     0.0     6.0
1     16724    12.0    12.0     6.0
2     16725     9.0     0.0     0.0
3     16726    12.0     0.0    24.0
4     16727    30.0     8.0    10.0

In [4]:
#filling nan values with mean value
import pandas as pd
import numpy as np
data=[["sai",23,40000],
["ram",24,50000],
["prasad",25,55000],
["mahi",np.nan,90000],
["nandhu",np.nan,566660]]
df=pd.DataFrame(data,columns=["name","age","salary"])
print(df)
m=df['age'].mean()
df['age']=df['age'].fillna(m)
print()
print(df)

     name   age  salary
0     sai  23.0   40000
1     ram  24.0   50000
2  prasad  25.0   55000
3    mahi   NaN   90000
4  nandhu   NaN  566660

     name   age  salary
0     sai  23.0   40000
1     ram  24.0   50000
2  prasad  25.0   55000
3    mahi  24.0   90000
4  nandhu  24.0  566660